body         { color: #00347D }
.currenttab  { color: #FFC617; font-weight: bold  }
.caption      { font-size: 13pt; color: #CB5D34; font-weight: bold }
a:link       { color: #000000; font-weight: bold }
a:visited    { color: #000000; font-weight: bold }
.bluelink         { color: #00347D; font-weight: normal;font-size: 9pt;}
.regbluelink         { color: #00347D; font-weight: normal}
a:hover      {  color: #FFFFFF; font-weight: bold }